.app {
  background: #f3f7fa;
  min-height: 100vh;
}

.content {
  display: flex;
  max-width: 1200px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 103px 50px 103px;
}

.sidebar {
  width: 232px;
}

.main {
  flex: 1;
  max-width: 504px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 0 15px;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    max-width: 100%;
  }
}
